.md-grid {
    max-width: 80rem;
}
@media only screen and (80em) {
  .md-main__inner {
    max-width: 150rem;
  }
  .md-sidebar--secondary {
    margin-left: 0rem;
      -webkit-transform: none;
      transform: none;
  }
}
